/* ******************************
*               EASYSERVICE
**********************************/

/* main color */
:root {
    --primaryColor: #246aeb;
    --secondaryColor: #01ce68;
    --thirdColor: #f94e4e;
    --fourColor: #4c0d99;
    --fiveColor: #1a4aac;
    --text-color-liste-pro: #535556;
    --text-color-background: #F4F6F8;
    --white-color: #fff;
    --green-color: green;
    --red-color: red;
}


/* HOME PAGE */
body {
    background: #f4f6f8;
}
.bg-primaire{
    background: var(--fiveColor);
}

.bg-second {
    background: var(--secondaryColor);
}

.bg-third {
    background: var(--thirdColor);
}

.bg-four {
    background: var(--fourColor);
}

.bg-five {
    background: var(--fiveColor);
}

header {
    border-top: 3px solid var(--primaryColor);
}

.secondaryBtn {
    border-radius: 100px;
    color: white;
    padding: 12px;
    background: var(--secondaryColor);
    text-decoration: none;
}

.primaryBtn {
    border-radius: 100px;
    color: white;
    padding: 12px;
    background: var(--primaryColor);
    text-decoration: none;
}
.whiteBtn{
    border-radius: 100px;
    color: var(--primaryColor);
    padding: 12px;
    background: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}


#about {
    background: white;
    padding: 10px;
}

#about .icon img {
    width: 85px;
}

#about .icon .title {
    font-size: 23px;
    font-weight: 500;
}

#about .desc {
    color: gray;
}

#categorie .card-body {
    background: white;
    box-shadow: -1px -3px 5px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px -3px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -3px 5px -1px rgba(0, 0, 0, 0.75);
}

i.material-symbols-outlined {
    color: var(--primaryColor);
    background-color: white;
    border-radius: 50px;
    padding: 8px;
    display: inline-block;
    box-shadow: 1px 1px 5px rgb(103, 102, 102);
    margin-right: 10px;
}

#sidebar-ul a {
    color: black;
    text-decoration: none;
}

#sidebarContent .card {
    box-shadow: -1px 0px 15px 5px rgba(222, 222, 222, 0.75);
    -webkit-box-shadow: -1px 0px 15px 5px rgba(222, 222, 222, 0.75);
    -moz-box-shadow: -1px 0px 15px 5px rgba(222, 222, 222, 0.75);
    border: none;
}

#sidebarContent .avatar {
    height: 45px;
    width: 45px;
    border-radius: 50px;
}

#sidebarContent .card-title {
    color: var(--primaryColor);
}

#sidebarContent .postedBy a {
    text-decoration: none;
}

#howToWork .col-md-4{
    background: rgba(222, 222, 222, 0.5);
    border-right: 1px solid white;
    /* margin: 5px; */
}
#howToWork .col-md-4 div{
    background: var(--fiveColor);
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-bottom: 5px;
}
#howToWork .col-md-4 h4{
    color: rgb(52, 51, 51);
    font-size: 20px;
    font-weight: 700;
}
#howToWork .col-md-4 p{
    color: gray
}
#avantage img{
    width: 50px;
}
#modal{
    /* height: 100px;
    width: 200px; */
    background: #ffc90b!important;
    max-width: 690px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);

}
header {
    border-top: 3px solid var(--primaryColor);
}

.secondaryBtn {
    border-radius: 100px;
    color: white;
    padding: 12px;
    background: var(--secondaryColor);
    text-decoration: none;
}

.primaryBtn {
    border-radius: 100px;
    color: white;
    padding: 12px;
    background: var(--primaryColor);
    text-decoration: none;
}

.bg-pro div img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

/* LIST PROFESSIONAL PAGE */
.liste-pro-desc {
    background-color: var(--text-color-background);
    color: var(--text-color-liste-pro);
}

.liste-pro-desc h1 {
    font-size: 25px;
}

.liste-pro {
    color: var(--text-color-liste-pro);
}

.liste-pro-desc {
    color: var(--white-color);
    padding: 0 0px 0 104.5px;
    height: 350px;
    background-image: url("https://images.pexels.com/photos/2422574/pexels-photo-2422574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.liste-pro-desc-content {
    margin: auto;
}

.liste-pro-desc h1 {
    font-size: 30px;
}

.liste-pro-desc p {
    font-size: 20px;
}

.liste-pro-categories-list {
    display: flex;
    flex-direction: column;
    gap: 5;
}

.liste-pro-categories-list a {
    text-decoration: none;
}

.liste-pro-left-side {
    background-color: var(--text-color-background);
    padding: 0 0 0 104.5px;
}

.liste-pro-left-side h3 {
    font-size: 20px;
}

.liste-pro-left-side span {
    color: var(--primaryColor);
    background-color: var(--white-color);
    border-radius: 50px;
    padding: 5px;
    display: inline-block;
    box-shadow: 1px 1px 5px var(--text-color-liste-pro);
    margin-right: 10px;
}

.liste-pro-categorie-item {
    margin-bottom: 10px;
}

.liste-pro-right-side {
    background-color: var(--text-color-background);
    padding: 0 104.5px 0 0;
}

.liste-pro-card-element img {
    height: 80px;
    width: 80px;
}

.liste-pro-card-element .card-header,
.card-footer {
    background-color: var(--white-color);
}

.icone-statut {
    font-size: 10px;
    margin-right: 5px;
}

.liste-pro-card-element .card-text {
    text-align: justify;
}

.icone-statut-disponible {
    color: var(--green-color);
}

.icone-statut-non-disponible {
    color: var(--red-color);
}

.professionnelsList a {
    color: var(--primaryColor);
    text-decoration: none;
}

@media screen and (max-width:768px) {

    .liste-pro-left-side {
        padding: 0;
    }

    .liste-pro-right-side {
        padding: 10px;
    }
}

/* DETAIL PROFESSIONAL PAGE */
.details-pro {
    
}

.details-pro-desc {
    color: var(--white-color);
    height: 250px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/876/437/102/blue-material-material-design-minimal-art-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* SIGNIN PAGE */
/* SIGNUP PAGE */